@import "tailwindcss";
@plugin "../hero.ts";

@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

@layer base {
  body {
    @apply bg-[#EAEDED] text-[#0F1111];
  }

  .dark body {
    @apply bg-[#0F1111] text-[#F3F3F3];
  }
}
